html {font-family: Georgia, Times, serif;
      background-color: rgb(240,240,240);
      position: relative;
      padding: 0;
      color: rgb(0,45,114);}
      
#container {width: 80%;
            background-color: white;
            margin: 0px auto 0px auto;
            text-align: justify;       
            padding: 10px;}
            
a {text-decoration: none;}
a:link {color: rgb(114,172,229);}
a:visited {color: rgb(114,172,229);}
a:hover {color: rgb(114,172,229);}

ul.research a:link {color: rgb(0,45,114);}
ul.research a:visited {color: rgb(0,45,114);}
ul.research a:hover {color: rgb(114,172,229);}

ul {padding: 0;}

h1, h2, h3, h4, h5, h6, #menu, #header {font-family: Helvetica, Arial, sans-serif;                                 
                                        letter-spacing: -0.05em;
                                        text-align: left;                                     
                                        color: rgb(0,45,114);}
                                        
li {list-style-type: none;}

#menu {text-align: center;}
       
ul.menulist {border-bottom: 1px solid rgb(0,45,114);
             border-top: 1px solid rgb(0,45,114);
             font-size: 1.5em;
             font-weight: bold;
             text-align: center;}
             
ul.menulist li {display: inline-block;
                padding: 2px 40px 2px 40px;}

#tags {text-align: center;}
                
ul.taglist {text-align: center;}
                                
ul.taglist li {display: inline-block;
               padding: 2px 20px 2px 20px;}
                
ul.menulist a:link, ul.taglist a:link {color: rgb(0,45,114);}
ul.menulist a:visited, ul.taglist a:visited {color: rgb(0,45,114);}
ul.menulist a:hover, ul.taglist a:hover {color: rgb(114,172,229);
                                         text-decoration: none;}
ul.menulist a.current, ul.taglist a.current {color: rgb(114,172,229);}

#header {left: 0;
         width: 100%; 
         color: rgb(0,45,114);
         text-align: center;
         padding: 0;}
         
div.researchlist {text-align: center;}

ul.research a, ul.taglist a, span.sansserif {font-family: Helvetica, Arial, sans-serif;}

ul.research {width: 80%;
             display: inline-block;}

ul.research li {border-top: 1px solid rgb(0,45,114);                
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: justify;}
                
ul.research li:first-child {border-top-style: none;
                            padding-top: 0;}